*.jl.*.cov
*.jl.cov
*.jl.mem
/deps/build.log
/deps/build*.jl
/deps/build/
/deps/deps.jl
/deps/src/cmake_install.cmake
/deps/src/CMakeCache.txt
/deps/src/CMakeFiles/
/deps/src/install_manifest.txt
/deps/src/lib/
/deps/src/Makefile
/deps/usr/
/deps/xcodetypeinfo/build/
/docs/build/
/local/*
/Manifest.toml
/src/libraryfuncdictionary.jl
