Benjamin Lorenz <lorenz@math.tu-berlin.de> <benlorenz@users.noreply.github.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <fieker@murrumesh.mathematik.uni-kl.de>
Daniel Schultz <tthsqe12@gmail.com>
Mohamed Barakat <mohamed.barakat@uni-siegen.de> <mohamed.barakat@rwth-aachen.de>
Sebastian Gutsche <gutsche@mathematik.uni-siegen.de> <gutsche@momo.math.rwth-aachen.de>
Thomas Breuer <sam@math.rwth-aachen.de>
Tommy Hofmann <thofma@gmail.com>
William Hart <goodwillhart@googlemail.com>
William Hart <goodwillhart@googlemail.com> <wbhart@DESKTOP-014PS28.localdomain>
