# Force Ubuntu 18.04 "Bionic" to get even newer GCC, binutils etc.
dist: bionic

addons:
    apt:
        packages:
           - cmake
           - cmake-data
           - gfortran
           - libblas-dev
           - liblapack-dev
           - libgmp-dev
           - libmpfr-dev
 
language: julia
os:
  - linux
  - osx

codecov: true
coveralls: true

julia:
  - 1.3
  - 1.4
  - nightly
  
env:
  global:
    - DOCUMENTER_DEBUG=true

jobs:
  allow_failures:
    - julia: nightly
  fast_finish: true
  include:
    - stage: "Documentation"
      name: "HTML"
      julia: 1.3
      os: linux
      script:
        - julia --color=yes --project=docs/ -e 'using Pkg; Pkg.add(PackageSpec(path=pwd())); Pkg.instantiate();'
        - julia --color=yes --project=docs/ docs/make.jl

notifications:
  - email: false
